In [0]:
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import files
uploaded=files.upload()

Saving Dataset.xlsx to Dataset.xlsx

In [0]:
import io
dataset=pd.read_excel(io.BytesIO(uploaded['Dataset.xlsx']))

In [0]:
pd.set_option('display.max_columns',None)

In [6]:
dataset.shape

(11565, 34)

In [7]:
dataset.head()

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Age,Fault,PolicyType,VehicleCategory,VehiclePrice,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Days_Policy_Accident,Days_Policy_Claim,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,ClaimSize
0,Dec,5,Wednesday,Honda,Urban,Tuesday,Jan,1,Female,Single,21.0,Policy Holder,Sport - Liability,Sport,more than 69000,0,1,12,300,1.0,more than 30,more than 30,none,3 years,26 to 30,No,No,External,none,1 year,3 to 4,1994,Liability,55526.069421
1,Jan,3,Wednesday,Honda,Urban,Monday,Jan,4,Male,Single,34.0,Policy Holder,Sport - Collision,Sport,more than 69000,0,2,15,400,4.0,more than 30,more than 30,none,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994,Collision,59294.455571
2,Oct,5,Friday,Honda,Urban,Thursday,Nov,2,Male,Married,47.0,Policy Holder,Sport - Collision,Sport,more than 69000,0,3,7,400,3.0,more than 30,more than 30,1,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994,Collision,71756.941320
3,Jun,2,Saturday,Toyota,Rural,Friday,Jul,1,Male,Married,65.0,Third Party,Sedan - Liability,Sport,20000 to 29000,0,4,4,400,2.0,more than 30,more than 30,1,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994,Liability,7584.153493
4,Feb,1,Saturday,Honda,Urban,Monday,Feb,3,Male,Married,36.0,Third Party,Sport - Collision,Sport,more than 69000,0,7,14,400,1.0,more than 30,more than 30,1,7 years,36 to 40,No,No,External,1 to 2,no change,1 vehicle,1994,Collision,98545.374339

In [8]:
dataset.info()
dataset.describe()
#checking fro null values
dataset.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11565 entries, 0 to 11564
Data columns (total 34 columns):
Month                   11565 non-null object
WeekOfMonth             11565 non-null int64
DayOfWeek               11565 non-null object
Make                    11565 non-null object
AccidentArea            11565 non-null object
DayOfWeekClaimed        11565 non-null object
MonthClaimed            11565 non-null object
WeekOfMonthClaimed      11565 non-null int64
Sex                     11565 non-null object
MaritalStatus           11565 non-null object
Age                     11560 non-null float64
Fault                   11565 non-null object
PolicyType              11565 non-null object
VehicleCategory         11565 non-null object
VehiclePrice            11565 non-null object
FraudFound_P            11565 non-null int64
PolicyNumber            11565 non-null int64
RepNumber               11565 non-null int64
Deductible              11565 non-null int64
DriverRating            11559 non-null float64
Days_Policy_Accident    11565 non-null object
Days_Policy_Claim       11565 non-null object
PastNumberOfClaims      11565 non-null object
AgeOfVehicle            11565 non-null object
AgeOfPolicyHolder       11565 non-null object
PoliceReportFiled       11565 non-null object
WitnessPresent          11565 non-null object
AgentType               11565 non-null object
NumberOfSuppliments     11565 non-null object
AddressChange_Claim     11565 non-null object
NumberOfCars            11565 non-null object
Year                    11565 non-null int64
BasePolicy              11565 non-null object
ClaimSize               11565 non-null float64
dtypes: float64(3), int64(7), object(24)
memory usage: 3.0+ MB

,WeekOfMonth,WeekOfMonthClaimed,Age,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Year,ClaimSize
count,11565.000000,11565.000000,11560.000000,11565.000000,11565.000000,11565.000000,11565.000000,11559.000000,11565.000000,11565.000000
mean,2.784003,2.701167,39.899567,0.059230,7710.474449,8.469780,407.617812,2.493468,1994.865975,22955.978035
std,1.284854,1.258153,13.590556,0.236066,4453.762219,4.618952,43.397393,1.118102,0.801798,26988.811719
min,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,300.000000,1.000000,1994.000000,0.000000
25%,2.000000,2.000000,31.000000,0.000000,3851.000000,4.000000,400.000000,1.000000,1994.000000,4148.845001
50%,3.000000,3.000000,38.000000,0.000000,7712.000000,8.000000,400.000000,3.000000,1995.000000,8130.994563
75%,4.000000,4.000000,49.000000,0.000000,11542.000000,12.000000,400.000000,3.000000,1996.000000,46299.646944
max,5.000000,5.000000,80.000000,1.000000,15420.000000,16.000000,700.000000,4.000000,1996.000000,141394.159289

Month                   0
WeekOfMonth             0
DayOfWeek               0
Make                    0
AccidentArea            0
DayOfWeekClaimed        0
MonthClaimed            0
WeekOfMonthClaimed      0
Sex                     0
MaritalStatus           0
Age                     5
Fault                   0
PolicyType              0
VehicleCategory         0
VehiclePrice            0
FraudFound_P            0
PolicyNumber            0
RepNumber               0
Deductible              0
DriverRating            6
Days_Policy_Accident    0
Days_Policy_Claim       0
PastNumberOfClaims      0
AgeOfVehicle            0
AgeOfPolicyHolder       0
PoliceReportFiled       0
WitnessPresent          0
AgentType               0
NumberOfSuppliments     0
AddressChange_Claim     0
NumberOfCars            0
Year                    0
BasePolicy              0
ClaimSize               0
dtype: int64

# Now we will analyze every property one by one.

In [9]:
# value count for every column
for column in dataset:
  print("\n")
  dataset[column].value_counts()

Jan    1056
May    1028
Mar     995
Jun     981
Oct     973
Dec     970
Apr     959
Sep     952
Feb     949
Jul     938
Nov     913
Aug     851
Name: Month, dtype: int64

3    2750
2    2681
4    2529
1    2389
5    1216
Name: WeekOfMonth, dtype: int64

Monday       2000
Friday       1838
Tuesday      1737
Thursday     1624
Wednesday    1565
Saturday     1469
Sunday       1332
Name: DayOfWeek, dtype: int64

Pontiac      2899
Toyota       2317
Honda        2159
Mazda        1724
Chevrolet    1253
Accura        354
Ford          338
VW            220
Dodge          77
Saab           70
Mercury        68
Saturn         41
Nisson         22
BMW             9
Jaguar          5
Mecedes         3
Porche          3
Ferrari         2
Lexus           1
Name: Make, dtype: int64

Urban    10356
Rural     1209
Name: AccidentArea, dtype: int64

Monday       2811
Tuesday      2545
Wednesday    2232
Thursday     2000
Friday       1842
Saturday       94
Sunday         40
0               1
Name: DayOfWeekClaimed, dtype: int64

Jan    1084
May    1038
Mar    1005
Oct     995
Nov     973
Apr     970
Jun     967
Feb     955
Sep     944
Jul     908
Dec     879
Aug     846
0         1
Name: MonthClaimed, dtype: int64

2    2787
3    2715
4    2567
1    2557
5     939
Name: WeekOfMonthClaimed, dtype: int64

Male      9768
Female    1797
Name: Sex, dtype: int64

Married     7986
Single      3497
Divorced      61
Widow         21
Name: MaritalStatus, dtype: int64

33.0    443
30.0    439
31.0    426
28.0    425
34.0    425
35.0    419
29.0    412
26.0    411
32.0    404
27.0    390
39.0    336
36.0    316
41.0    314
44.0    304
43.0    298
42.0    296
37.0    295
45.0    290
40.0    280
38.0    277
0.0     253
47.0    238
55.0    223
48.0    217
46.0    216
51.0    215
50.0    213
54.0    213
52.0    204
49.0    196
       ...
64.0    107
65.0    105
63.0    102
24.0     97
21.0     95
58.0     93
23.0     92
62.0     87
22.0     87
25.0     74
72.0     35
18.0     34
76.0     32
66.0     32
71.0     30
74.0     28
69.0     28
78.0     26
68.0     25
73.0     25
80.0     25
19.0     24
67.0     24
70.0     23
75.0     23
77.0     20
20.0     15
79.0     12
16.0      8
17.0      5
Name: Age, Length: 66, dtype: int64

Policy Holder    8394
Third Party      3171
Name: Fault, dtype: int64

Sedan - Collision       4186
Sedan - Liability       3742
Sedan - All Perils      3067
Sport - Collision        262
Utility - All Perils     251
Utility - Collision       24
Sport - All Perils        19
Utility - Liability       13
Sport - Liability          1
Name: PolicyType, dtype: int64

Sedan      7253
Sport      4024
Utility     288
Name: VehicleCategory, dtype: int64

20000 to 29000     6112
30000 to 39000     2640
more than 69000    1605
less than 20000     800
40000 to 59000      349
60000 to 69000       59
Name: VehiclePrice, dtype: int64

0    10880
1      685
Name: FraudFound_P, dtype: int64

2047     1
11519    1
3323     1
1274     1
7417     1
5368     1
9462     1
13556    1
3315     1
5360     1
11503    1
9454     1
1258     1
7401     1
5352     1
11495    1
9446     1
13540    1
3299     1
1250     1
5344     1
13564    1
7425     1
9366     1
1282     1
11551    1
9502     1
13596    1
1306     1
7449     1
        ..
4711     1
6758     1
2660     1
12899    1
8801     1
10848    1
6750     1
4727     1
10872    1
14970    1
8841     1
10904    1
661      1
8849     1
10896    1
6798     1
653      1
12939    1
14986    1
6790     1
12923    1
645      1
2692     1
14978    1
8833     1
10880    1
6782     1
637      1
2684     1
4098     1
Name: PolicyNumber, Length: 11565, dtype: int64

7     800
9     760
1     754
16    739
3     733
15    729
5     729
10    728
2     714
14    713
12    708
6     703
11    697
4     696
13    681
8     681
Name: RepNumber, dtype: int64

400    11128
700      226
500      207
300        4
Name: Deductible, dtype: int64

3.0    2928
1.0    2928
4.0    2852
2.0    2851
Name: DriverRating, dtype: int64

more than 30    11439
8 to 15            44
none               39
15 to 30           32
1 to 7             11
Name: Days_Policy_Accident, dtype: int64

more than 30    11504
15 to 30           47
8 to 15            13
none                1
Name: Days_Policy_Claim, dtype: int64

2 to 4         4140
none           3286
1              2675
more than 4    1464
Name: PastNumberOfClaims, dtype: int64

7 years        4388
more than 7    2993
6 years        2581
5 years         990
new             285
4 years         176
3 years         100
2 years          52
Name: AgeOfVehicle, dtype: int64

31 to 35    4199
36 to 40    3008
41 to 50    2122
51 to 65    1070
26 to 30     445
over 65      388
16 to 17     247
21 to 25      73
18 to 20      13
Name: AgeOfPolicyHolder, dtype: int64

No     11235
Yes      330
Name: PoliceReportFiled, dtype: int64

No     11497
Yes       68
Name: WitnessPresent, dtype: int64

External    11394
Internal      171
Name: AgentType, dtype: int64

none           5330
more than 5    2875
1 to 2         1846
3 to 5         1514
Name: NumberOfSuppliments, dtype: int64

no change         10715
4 to 8 years        496
2 to 3 years        222
1 year              128
under 6 months        4
Name: AddressChange_Claim, dtype: int64

1 vehicle      10698
2 vehicles       559
3 to 4           288
5 to 8            19
more than 8        1
Name: NumberOfCars, dtype: int64

1994    4596
1995    3923
1996    3046
Name: Year, dtype: int64

Collision     4472
Liability     3756
All Perils    3337
Name: BasePolicy, dtype: int64

98545.374339    20
82211.859262    20
87808.106898    19
62888.307996    19
58488.924392    19
77167.223246    19
65937.521016    19
64586.618621    19
69101.981954    19
59263.702434    19
85555.916236    19
80258.158579    18
69029.591397    18
54029.946625    18
52942.992707    17
57166.760954    17
79417.328822    17
50754.804030    17
74391.153047    16
65677.761527    16
73871.310119    16
55057.673813    16
54340.812032    16
52494.337422    16
69927.894072    16
50099.557057    16
78329.309493    16
65821.087931    16
51716.570769    16
53715.138636    16
                ..
8878.251157      1
25977.602932     1
12786.845295     1
28728.657410     1
13550.495790     1
23291.590471     1
34415.848035     1
11175.285339     1
10700.434942     1
10491.175933     1
24168.642863     1
28543.069182     1
28038.549562     1
11533.815521     1
13716.726999     1
5109.107197      1
10248.027671     1
24246.957107     1
15790.507668     1
24606.015403     1
9115.514155      1
5158.658873      1
37798.938333     1
12412.421826     1
22384.576643     1
47112.894351     1
14969.817340     1
18146.825989     1
11291.559600     1
13844.547636     1
Name: ClaimSize, Length: 3332, dtype: int64

In [10]:
2811+2545+2232+2000+1842+94+40+1
#Don't know what this zero is in Days of week Claimed and Month Claimed

11565

In [11]:
dataset[dataset["MonthClaimed"]==0]

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,Age,Fault,PolicyType,VehicleCategory,VehiclePrice,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Days_Policy_Accident,Days_Policy_Claim,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy,ClaimSize
1146,Jul,2,Monday,Honda,Rural,0,0,1,Male,Single,0.0,Policy Holder,Sedan - All Perils,Sedan,more than 69000,0,1517,15,400,2.0,more than 30,none,none,new,16 to 17,No,No,External,none,no change,1 vehicle,1994,All Perils,70530.646951

In [0]:

dataset.loc[dataset.index[1146],"MonthClaimed"]='Aug'

In [0]:
dataset.loc[dataset.index[1146],"DayOfWeekClaimed"]='Monday'

In [14]:

dataset["MonthClaimed"].value_counts()
dataset["DayOfWeekClaimed"].value_counts()

Jan    1084
May    1038
Mar    1005
Oct     995
Nov     973
Apr     970
Jun     967
Feb     955
Sep     944
Jul     908
Dec     879
Aug     847
Name: MonthClaimed, dtype: int64

Monday       2812
Tuesday      2545
Wednesday    2232
Thursday     2000
Friday       1842
Saturday       94
Sunday         40
Name: DayOfWeekClaimed, dtype: int64

In [15]:
#dropping rows with nan values
dataset=dataset.dropna(axis=0,how='any')
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11554 entries, 0 to 11564
Data columns (total 34 columns):
Month                   11554 non-null object
WeekOfMonth             11554 non-null int64
DayOfWeek               11554 non-null object
Make                    11554 non-null object
AccidentArea            11554 non-null object
DayOfWeekClaimed        11554 non-null object
MonthClaimed            11554 non-null object
WeekOfMonthClaimed      11554 non-null int64
Sex                     11554 non-null object
MaritalStatus           11554 non-null object
Age                     11554 non-null float64
Fault                   11554 non-null object
PolicyType              11554 non-null object
VehicleCategory         11554 non-null object
VehiclePrice            11554 non-null object
FraudFound_P            11554 non-null int64
PolicyNumber            11554 non-null int64
RepNumber               11554 non-null int64
Deductible              11554 non-null int64
DriverRating            11554 non-null float64
Days_Policy_Accident    11554 non-null object
Days_Policy_Claim       11554 non-null object
PastNumberOfClaims      11554 non-null object
AgeOfVehicle            11554 non-null object
AgeOfPolicyHolder       11554 non-null object
PoliceReportFiled       11554 non-null object
WitnessPresent          11554 non-null object
AgentType               11554 non-null object
NumberOfSuppliments     11554 non-null object
AddressChange_Claim     11554 non-null object
NumberOfCars            11554 non-null object
Year                    11554 non-null int64
BasePolicy              11554 non-null object
ClaimSize               11554 non-null float64
dtypes: float64(3), int64(7), object(24)
memory usage: 3.1+ MB

In [16]:
#analysing month
dataset["Month"].value_counts()

Jan    1054
May    1026
Mar     995
Jun     981
Oct     972
Dec     968
Apr     959
Sep     950
Feb     949
Jul     938
Nov     913
Aug     849
Name: Month, dtype: int64

In [0]:
#one hot encoding month
dataset=pd.get_dummies(dataset,columns=["Month"])

In [18]:
dataset["Month_Apr"].value_counts()

0    10595
1      959
Name: Month_Apr, dtype: int64

In [19]:
#analysing week of month
dataset["WeekOfMonth"].value_counts()

3    2749
2    2678
4    2525
1    2386
5    1216
Name: WeekOfMonth, dtype: int64

In [0]:
dataset=pd.get_dummies(dataset,columns=["WeekOfMonth"])

In [21]:
dataset["DayOfWeek"].value_counts()

Monday       1996
Friday       1838
Tuesday      1736
Thursday     1621
Wednesday    1564
Saturday     1469
Sunday       1330
Name: DayOfWeek, dtype: int64

In [0]:
dataset=pd.get_dummies(dataset,columns=["DayOfWeek"])

In [0]:
dataset=pd.get_dummies(dataset,columns=["Make",'DayOfWeekClaimed','MonthClaimed','WeekOfMonthClaimed','MaritalStatus','PolicyType','VehicleCategory'])

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
var_mod=["Fault",'AccidentArea','Sex','PoliceReportFiled','WitnessPresent','AgentType']
for i in var_mod:
    dataset[i]=le.fit_transform(dataset[i])

dataset=pd.get_dummies(dataset,columns=["BasePolicy"])
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11554 entries, 0 to 11564
Columns: 109 entries, AccidentArea to BasePolicy_Liability
dtypes: float64(3), int64(11), object(9), uint8(86)
memory usage: 3.1+ MB

In [25]:
dataset["VehiclePrice"].value_counts()

20000 to 29000     6104
30000 to 39000     2640
more than 69000    1605
less than 20000     798
40000 to 59000      348
60000 to 69000       59
Name: VehiclePrice, dtype: int64

In [26]:
dataset.head()

,AccidentArea,Sex,Age,Fault,VehiclePrice,FraudFound_P,PolicyNumber,RepNumber,Deductible,DriverRating,Days_Policy_Accident,Days_Policy_Claim,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,ClaimSize,Month_Apr,Month_Aug,Month_Dec,Month_Feb,Month_Jan,Month_Jul,Month_Jun,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,WeekOfMonth_1,WeekOfMonth_2,WeekOfMonth_3,WeekOfMonth_4,WeekOfMonth_5,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,Make_Accura,Make_BMW,Make_Chevrolet,Make_Dodge,Make_Ferrari,Make_Ford,Make_Honda,Make_Jaguar,Make_Lexus,Make_Mazda,Make_Mecedes,Make_Mercury,Make_Nisson,Make_Pontiac,Make_Porche,Make_Saab,Make_Saturn,Make_Toyota,Make_VW,DayOfWeekClaimed_Friday,DayOfWeekClaimed_Monday,DayOfWeekClaimed_Saturday,DayOfWeekClaimed_Sunday,DayOfWeekClaimed_Thursday,DayOfWeekClaimed_Tuesday,DayOfWeekClaimed_Wednesday,MonthClaimed_Apr,MonthClaimed_Aug,MonthClaimed_Dec,MonthClaimed_Feb,MonthClaimed_Jan,MonthClaimed_Jul,MonthClaimed_Jun,MonthClaimed_Mar,MonthClaimed_May,MonthClaimed_Nov,MonthClaimed_Oct,MonthClaimed_Sep,WeekOfMonthClaimed_1,WeekOfMonthClaimed_2,WeekOfMonthClaimed_3,WeekOfMonthClaimed_4,WeekOfMonthClaimed_5,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_Widow,PolicyType_Sedan - All Perils,PolicyType_Sedan - Collision,PolicyType_Sedan - Liability,PolicyType_Sport - All Perils,PolicyType_Sport - Collision,PolicyType_Sport - Liability,PolicyType_Utility - All Perils,PolicyType_Utility - Collision,PolicyType_Utility - Liability,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,BasePolicy_All Perils,BasePolicy_Collision,BasePolicy_Liability
0,1,0,21.0,0,more than 69000,0,1,12,300,1.0,more than 30,more than 30,none,3 years,26 to 30,0,0,0,none,1 year,3 to 4,1994,55526.069421,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1
1,1,1,34.0,0,more than 69000,0,2,15,400,4.0,more than 30,more than 30,none,6 years,31 to 35,1,0,0,none,no change,1 vehicle,1994,59294.455571,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
2,1,1,47.0,0,more than 69000,0,3,7,400,3.0,more than 30,more than 30,1,7 years,41 to 50,0,0,0,none,no change,1 vehicle,1994,71756.941320,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0
3,0,1,65.0,1,20000 to 29000,0,4,4,400,2.0,more than 30,more than 30,1,more than 7,51 to 65,1,0,0,more than 5,no change,1 vehicle,1994,7584.153493,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1
4,1,1,36.0,1,more than 69000,0,7,14,400,1.0,more than 30,more than 30,1,7 years,36 to 40,0,0,0,1 to 2,no change,1 vehicle,1994,98545.374339,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0

In [27]:
dataset["VehiclePrice"]=dataset["VehiclePrice"].replace("20000 to 29000",2)
dataset["VehiclePrice"]=dataset["VehiclePrice"].replace("30000 to 39000",3)
dataset["VehiclePrice"]=dataset["VehiclePrice"].replace("40000 to 59000",5)
dataset["VehiclePrice"]=dataset["VehiclePrice"].replace("60000 to 69000",6)
dataset["VehiclePrice"]=dataset["VehiclePrice"].replace("more than 69000",8)
dataset["VehiclePrice"]=dataset["VehiclePrice"].replace("less than 20000",1)
dataset["VehiclePrice"].value_counts()

2    6104
3    2640
8    1605
1     798
5     348
6      59
Name: VehiclePrice, dtype: int64

In [28]:
dataset["PolicyNumber"].nunique()

11554

In [29]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11554 entries, 0 to 11564
Columns: 109 entries, AccidentArea to BasePolicy_Liability
dtypes: float64(3), int64(12), object(8), uint8(86)
memory usage: 3.1+ MB

In [0]:
dataset.drop(["PolicyNumber"],axis=1,inplace=True)

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11554 entries, 0 to 11564
Columns: 108 entries, AccidentArea to BasePolicy_Liability
dtypes: float64(3), int64(11), object(8), uint8(86)
memory usage: 3.0+ MB

In [32]:
dataset["Deductible"].head()

0    300
1    400
2    400
3    400
4    400
Name: Deductible, dtype: int64

In [33]:

dataset["Deductible"].value_counts()

400    11117
700      226
500      207
300        4
Name: Deductible, dtype: int64

In [34]:
dataset["Days_Policy_Accident"].value_counts()

more than 30    11428
8 to 15            44
none               39
15 to 30           32
1 to 7             11
Name: Days_Policy_Accident, dtype: int64

In [35]:
dataset["Days_Policy_Accident"]=dataset["Days_Policy_Accident"].replace("1 to 7",5)
dataset["Days_Policy_Accident"]=dataset["Days_Policy_Accident"].replace("8 to 15",12)
dataset["Days_Policy_Accident"]=dataset["Days_Policy_Accident"].replace("15 to 30",22)
dataset["Days_Policy_Accident"]=dataset["Days_Policy_Accident"].replace("none",0)
dataset["Days_Policy_Accident"]=dataset["Days_Policy_Accident"].replace("more than 30",50)
dataset["Days_Policy_Accident"].value_counts()

50    11428
12       44
0        39
22       32
5        11
Name: Days_Policy_Accident, dtype: int64

In [36]:
dataset["Days_Policy_Claim"].value_counts()

more than 30    11493
15 to 30           47
8 to 15            13
none                1
Name: Days_Policy_Claim, dtype: int64

In [0]:
dataset["Days_Policy_Claim"]=dataset["Days_Policy_Claim"].replace("none",1)
dataset["Days_Policy_Claim"]=dataset["Days_Policy_Claim"].replace("8 to 15",12)
dataset["Days_Policy_Claim"]=dataset["Days_Policy_Claim"].replace("15 to 30",22)
dataset["Days_Policy_Claim"]=dataset["Days_Policy_Claim"].replace("more than 30",50)

In [38]:
 dataset["PastNumberOfClaims"].value_counts()

2 to 4         4135
none           3284
1              2674
more than 4    1461
Name: PastNumberOfClaims, dtype: int64

In [0]:
dataset["PastNumberOfClaims"]=dataset["PastNumberOfClaims"].replace("none",0)
dataset["PastNumberOfClaims"]=dataset["PastNumberOfClaims"].replace("1",1)
dataset["PastNumberOfClaims"]=dataset["PastNumberOfClaims"].replace("2 to 4",3)
dataset["PastNumberOfClaims"]=dataset["PastNumberOfClaims"].replace("more than 4",6)

In [40]:
dataset["AgeOfVehicle"].value_counts()

7 years        4386
more than 7    2990
6 years        2576
5 years         990
new             285
4 years         175
3 years         100
2 years          52
Name: AgeOfVehicle, dtype: int64

In [0]:
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("new",0)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("2 years",2)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("3 years",3)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("4 years",4)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("5 years",5)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("6 years",6)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("7 years",7)
dataset["AgeOfVehicle"]=dataset["AgeOfVehicle"].replace("more than 7",9)

In [42]:
dataset["AgeOfPolicyHolder"].value_counts()

31 to 35    4193
36 to 40    3007
41 to 50    2121
51 to 65    1067
26 to 30     445
over 65      388
16 to 17     247
21 to 25      73
18 to 20      13
Name: AgeOfPolicyHolder, dtype: int64

In [0]:
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("18 to 20",19)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("16 to 17",16)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("21 to 25",23)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("26 to 30",28)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("31 to 35",33)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("36 to 40",38)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("41 to 50",45)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("51 to 65",58)
dataset["AgeOfPolicyHolder"]=dataset["AgeOfPolicyHolder"].replace("over 65",68)

In [44]:
dataset["NumberOfSuppliments"].value_counts()

none           5325
more than 5    2870
1 to 2         1845
3 to 5         1514
Name: NumberOfSuppliments, dtype: int64

In [0]:
dataset["NumberOfSuppliments"]=dataset["NumberOfSuppliments"].replace("none",0)
dataset["NumberOfSuppliments"]=dataset["NumberOfSuppliments"].replace("1 to 2",1.5)
dataset["NumberOfSuppliments"]=dataset["NumberOfSuppliments"].replace("3 to 5",4)
dataset["NumberOfSuppliments"]=dataset["NumberOfSuppliments"].replace("more than 5",6)

In [46]:
dataset["AddressChange_Claim"].value_counts()

no change         10706
4 to 8 years        495
2 to 3 years        222
1 year              127
under 6 months        4
Name: AddressChange_Claim, dtype: int64

In [0]:
dataset["AddressChange_Claim"]=dataset["AddressChange_Claim"].replace("no change",0)
dataset["AddressChange_Claim"]=dataset["AddressChange_Claim"].replace("1 year",1)
dataset["AddressChange_Claim"]=dataset["AddressChange_Claim"].replace("under 6 months",0.5)
dataset["AddressChange_Claim"]=dataset["AddressChange_Claim"].replace("2 to 3 years",2.5)
dataset["AddressChange_Claim"]=dataset["AddressChange_Claim"].replace("4 to 8 years",6)

In [48]:
dataset["NumberOfCars"].value_counts()

1 vehicle      10688
2 vehicles       558
3 to 4           288
5 to 8            19
more than 8        1
Name: NumberOfCars, dtype: int64

In [0]:
dataset["NumberOfCars"]=dataset["NumberOfCars"].replace("1 vehicle",1)
dataset["NumberOfCars"]=dataset["NumberOfCars"].replace("2 vehicle",2)
dataset["NumberOfCars"]=dataset["NumberOfCars"].replace("3 to 4",4)
dataset["NumberOfCars"]=dataset["NumberOfCars"].replace("5 to 8",7)
dataset["NumberOfCars"]=dataset["NumberOfCars"].replace("more than 8",10)

In [50]:
dataset["Year"].value_counts()

1994    4592
1995    3920
1996    3042
Name: Year, dtype: int64

In [51]:
#changing the year to no of years gone till 2010
dataset["Year_gone"]=dataset["Year"].replace(1994,16)
dataset["Year_gone"]=dataset["Year"].replace(1995,15)
dataset["Year_gone"]=dataset["Year"].replace(1996,14)
dataset["Year_gone"].value_counts()

1994    4592
1995    3920
14      3042
Name: Year_gone, dtype: int64

In [0]:
dataset.drop(["Year"],axis=1,inplace=True)

In [53]:
dataset["ClaimSize"].nunique()

3331

In [54]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11554 entries, 0 to 11564
Columns: 108 entries, AccidentArea to Year_gone
dtypes: float64(5), int64(16), object(1), uint8(86)
memory usage: 3.0+ MB

In [56]:
dataset.head()

,AccidentArea,Sex,Age,Fault,VehiclePrice,FraudFound_P,RepNumber,Deductible,DriverRating,Days_Policy_Accident,Days_Policy_Claim,PastNumberOfClaims,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,ClaimSize,Month_Apr,Month_Aug,Month_Dec,Month_Feb,Month_Jan,Month_Jul,Month_Jun,Month_Mar,Month_May,Month_Nov,Month_Oct,Month_Sep,WeekOfMonth_1,WeekOfMonth_2,WeekOfMonth_3,WeekOfMonth_4,WeekOfMonth_5,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,Make_Accura,Make_BMW,Make_Chevrolet,Make_Dodge,Make_Ferrari,Make_Ford,Make_Honda,Make_Jaguar,Make_Lexus,Make_Mazda,Make_Mecedes,Make_Mercury,Make_Nisson,Make_Pontiac,Make_Porche,Make_Saab,Make_Saturn,Make_Toyota,Make_VW,DayOfWeekClaimed_Friday,DayOfWeekClaimed_Monday,DayOfWeekClaimed_Saturday,DayOfWeekClaimed_Sunday,DayOfWeekClaimed_Thursday,DayOfWeekClaimed_Tuesday,DayOfWeekClaimed_Wednesday,MonthClaimed_Apr,MonthClaimed_Aug,MonthClaimed_Dec,MonthClaimed_Feb,MonthClaimed_Jan,MonthClaimed_Jul,MonthClaimed_Jun,MonthClaimed_Mar,MonthClaimed_May,MonthClaimed_Nov,MonthClaimed_Oct,MonthClaimed_Sep,WeekOfMonthClaimed_1,WeekOfMonthClaimed_2,WeekOfMonthClaimed_3,WeekOfMonthClaimed_4,WeekOfMonthClaimed_5,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,MaritalStatus_Widow,PolicyType_Sedan - All Perils,PolicyType_Sedan - Collision,PolicyType_Sedan - Liability,PolicyType_Sport - All Perils,PolicyType_Sport - Collision,PolicyType_Sport - Liability,PolicyType_Utility - All Perils,PolicyType_Utility - Collision,PolicyType_Utility - Liability,VehicleCategory_Sedan,VehicleCategory_Sport,VehicleCategory_Utility,BasePolicy_All Perils,BasePolicy_Collision,BasePolicy_Liability,Year_gone
0,1,0,21.0,0,8,0,12,300,1.0,50,50,0,3,28,0,0,0,0.0,1.0,4,55526.069421,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1994
1,1,1,34.0,0,8,0,15,400,4.0,50,50,0,6,33,1,0,0,0.0,0.0,1,59294.455571,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,1994
2,1,1,47.0,0,8,0,7,400,3.0,50,50,1,7,45,0,0,0,0.0,0.0,1,71756.941320,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,1994
3,0,1,65.0,1,2,0,4,400,2.0,50,50,1,9,58,1,0,0,6.0,0.0,1,7584.153493,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,1994
4,1,1,36.0,1,8,0,14,400,1.0,50,50,1,7,38,0,0,0,1.5,0.0,1,98545.374339,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,1994

In [62]:
for column in dataset:
  if (dataset[column].dtype==object):
    print (column)

NumberOfCars

In [63]:
dataset["NumberOfCars"].value_counts()

1             10688
2 vehicles      558
4               288
7                19
10                1
Name: NumberOfCars, dtype: int64

In [65]:
dataset["NumberOfCars"]=dataset["NumberOfCars"].replace("2 vehicles",2)
dataset["NumberOfCars"].dtype

dtype('int64')

In [0]:
X=dataset.drop(["FraudFound_P"],axis=1)
y=dataset["FraudFound_P"]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [83]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3467 entries, 2598 to 2520
Columns: 107 entries, AccidentArea to Year_gone
dtypes: float64(5), int64(16), uint8(86)
memory usage: 887.1 KB

In [0]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error

In [0]:
xg_reg = xgb.XGBRegressor(objective ='reg:logistic', colsample_bytree = 0.3, learning_rate = 0.1,
                max_depth = 5, alpha = 10, n_estimators = 10)

In [84]:
xg_reg.fit(X_train,y_train)

preds = xg_reg.predict(X_test)

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.3, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=10,
       n_jobs=1, nthread=None, objective='reg:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [85]:
preds

array([0.26988924, 0.18530494, 0.18373485, ..., 0.18530494, 0.18530494,
       0.2645766 ], dtype=float32)

In [86]:
rmse = np.sqrt(mean_squared_error(y_test, preds))
print("RMSE: %f" % (rmse))

RMSE: 0.276697

In [0]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()

In [94]:
reg.fit(X_train,y_train)

pred2 = reg.predict(X_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [95]:
pred2

array([ 0.14293949, -0.0366478 , -0.06856196, ..., -0.02449511,
        0.0407147 ,  0.16573959])

In [96]:
rmse = np.sqrt(mean_squared_error(y_test, pred2))
print("RMSE: %f" % (rmse))

RMSE: 0.226019